
#large-container {
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 20px;
    padding-bottom: 30px;
  
  }

#mood-survey{
    background-image: linear-gradient(-90deg, #2EB5E0, #C4DBE0);
}

.survey-class{
  /* color: white; */
  padding: 20px;
  margin-bottom: 15px;
}

.journalForm{
  /* background: purple; */
  padding: 10px;
  margin: 10px;
  align-self: center;
}

#journal-title{
  background-image: linear-gradient(-90deg, #C4DBE0, #E1C2F0);
  padding: 10px;
  border: 10px, solid, black;

}
.card-header{
  background-image: linear-gradient(-90deg, #0C6980, #C4DBE0);
}

#journal-sub{
  background-color: #1ab394;
}

